
body {
  background-color: #83E3C6;
  background-color: #e9ecef;
  background-image: -webkit-linear-gradient(65deg, #83E3C6 50%, #E4E9FD 50%);
  min-height: 1000px;
  font-family: 'helvetica neue';
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #83E3C6 50%;
}
.jumbotron {
  
  background-image: -webkit-linear-gradient(65deg, #83E3C6 50%, #E4E9FD 50%);
  /* background-color: #E4E9FD; */
  border-radius: .3rem;
  padding-top: 350px;
}
.home{
  border-radius: .3rem;
  padding-top: 200px;
  text-align: center;
}
footer {
  /* color: white; */
  color: black;
  text-align: center;
}
